@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.preview-section {
  background-color: var(--light-grayish-blue);
  min-height: 100vh;
  font-size: 0.8125rem;
  display: flex;
  align-items: center;
}

.article-preview {
  width: 50rem;
  margin: 0 auto 0;
  background-color: #fff;
  display: grid;
  grid-template-columns: 4fr 6fr;
  border-radius: 1rem;
}

.article-preview h2 {
  color: var(--very-dark-grayish-blue);
  margin-bottom: 1rem;
  font-weight: 700;
}

.article-preview p {
  color: var(--desaturated-dark-blue);
  line-height: 1.6;
}

.article-preview .featured-image {
  width: 100%;
  height: auto;
  border-radius: 1rem 0 0 1rem;
  background: center left / cover url("../img/drawers.jpg");
}

.article-preview .content {
  padding-top: 2.4rem;
  /* padding-bottom: 2.4rem; */
  display: flex;
  flex-direction: column;
}

.article-preview .content > * {
  padding: 0 2.4rem;
}

.article-preview .content > p {
  margin-bottom: 1.5rem;
}

.article-preview .bottom-row {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 2.4rem;
}

.article-preview .bottom-row .avatar {
  display: flex;
}

.article-preview .bottom-row .personal-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

.preview-section .avatar img {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 100rem;
}

.article-preview .share {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.article-preview .share-btn {
  background: center / 16px var(--light-grayish-blue) url("../img/icon-share.svg")
    no-repeat;
  mask: url("../img/icon-share.svg");
  /* background-color: red; */
  width: 32px;
  height: 32px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s;
}

.article-preview .share-btn:hover {
  background: center / 16px var(--very-dark-grayish-blue) url("../img/icon-share-white.svg")
    no-repeat;
  transition: all 0.2s;
}

.article-preview .share-tooltip {
  position: absolute;
  background-color: var(--very-dark-grayish-blue);
  display: none;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  transform: translateX(-50%);
  bottom: 140%;
  left: 50%;
  gap: 1rem;
  font-size: 0.75rem;
}

/* activating tooltip */
.article-preview .bottom-row.tooltip-active .share-tooltip {
  display: flex;
}

.article-preview .mobile-share-tooltip {
  display: none;
}

.article-preview .share-tooltip::after {
  content: "";
  display: block;
  height: 0px;
  width: 0px;
  border-top: 12px solid var(--very-dark-grayish-blue);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 95%);
}

.article-preview .share-tooltip p {
  color: var(--grayish-blue);
  text-transform: uppercase;
  letter-spacing: 4px;
}

@media screen and (max-width: 768px) {
  .article-preview {
    margin: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
  }

  .article-preview .featured-image {
    border-radius: 1rem 1rem 0 0;
  }

  /* activating tooltip */
  .article-preview .bottom-row.tooltip-active {
    background-color: var(--very-dark-grayish-blue);
    padding: 1rem 2.4rem;
    border-radius: 0 0 1rem 1rem;
  }

  .article-preview .bottom-row .share-btn {
    background: center / 16px var(--light-grayish-blue)
      url("../img/icon-share.svg") no-repeat;
  }

  .article-preview .bottom-row.tooltip-active .share-btn {
    background: center / 16px var(--desaturated-dark-blue)
      url("../img/icon-share-white.svg") no-repeat;
  }

  .article-preview .bottom-row.tooltip-active .share-tooltip {
    display: none;
  }

  .article-preview .bottom-row.tooltip-active .avatar {
    display: none;
  }

  .article-preview .bottom-row.tooltip-active .mobile-share-tooltip {
    display: flex;
    gap: 1rem;
    color: var(--grayish-blue);
    text-transform: uppercase;
    letter-spacing: 4px;
    align-items: center;
  }
}
